.navbar {
    background-color: blanchedalmond;
}

.h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: azure;
    margin: 30px;
}

#table {
     
    background-color: azure;
    height: 200px;
    width: 50%;
    border-collapse: separate;
    border-spacing: 0px;
    margin: 20px auto;
    border-spacing: 0px;
    
        
    
}

#table2 {
    width: 50%;
    border-collapse: separate;
    border-spacing: 0px;
    margin: 6px;
    
}

.footer {
    height: 10vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    
    padding: 6px;
}

.h6 {
    font-family:'Courier New', Courier, monospace;
}

.td, th {
    padding: 15px;
    
}

