.navbar {
    background-color: blanchedalmond;
}

.h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: azure;
}

#table {
    background-color: azure;
    height: 200px;
}

.footer {
    height: 10vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    font-weight: bold;
}

.h6 {
    font-family:'Courier New', Courier, monospace;
}